.aboutme {
  height: 100vh;
  flex-direction: column;
  gap:1rem;
  text-align: center;
}
.stats-wrapper{
    display: flex;
    flex-direction: row;
    border: 0.01rem solid var(--clr-primary);
    border-radius: 1rem;
    overflow: hidden;
    padding: 1rem;
    box-shadow: var(--shadow);

}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    padding: 1rem;
    text-align: center;
}
.react-icons{
    font-size: 2rem;
    color:var(--clr-primary)
}

.card-h4{
    color:var(--clr-primary);
}

@media (max-width: 600px) {
  .app .aboutme {
    align-items: flex-start;
    margin-top: 2em;
    height: auto;
  }
  .stats-wrapper{
    flex-direction: column;
    height: auto;
  }
}